<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Services
                    </a>
                </li>
                 <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contac US
                    </a>
                </li>
            </ul>
        </nav> 
         <div class="copyright pull-right">
            &copy;
            4/82,Jarugu,Maniyadhahalli, Nallampalli, Dharmapuri, Tamilnadu, India. PIN-636807 <br>
            <a href="#" target="_blank">ksrfintechsoftwaresolutions@gmail.com</a>.
        </div> 
    </div>
</footer>
