.imgcss{
    height:70px !important;
}
.container {
    margin-left: inherit !important;
}
.navbar.bg-primary {
color: #fff;
background-color: rgba(83, 95, 155, 1) !important;
box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 0px -7px rgba(156, 39, 176, 0.46);
}
