.tile_css{
    text-align: center;
}
.text_size{
    font-size: 16px;
    text-align: justify;
    text-indent: 50px;
}
 .main-content {
 margin-top: 5px !important;
padding: 30px 15px;
min-height: calc(100vh - 123px);
}