<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  
                  <div class="card-body">
                      <h1 class="card-title tile_css">Welcome to KSR Group</h1>
                      <p class="card-category text_size">
                           <b>KSR FinTech Software Solutions</b> was founded by experienced professionals in Core Banking Domain services and Banking Software's.
Incorporated in the year 2023, KSR aspires to be a leading player in the field of Banking domain with key strengths in Implementation, Customization, Functional Testing,
Support Managed Services, etc. The target is to amplify human potential and create the next opportunity for people, businesses and communities.<br>
</p>
                       <p class="card-category text_size">
                           <b>KSR Fintech </b> has a strong banking team of ex-bankers and technology experts. We are highly process driven to instil confidence among our customers and partners,
about quality deliverables and growing consistently.
                           
                      </p>
                  </div>
                 
              </div>
          </div>
        
      </div>
     
  </div>
</div>
