<div class="main-content">
  <div class="container-fluid">
      <div class="row">
               <div class="col-md-8">
              <div class="card card-chart">
                  
                  <div class="card-body">
                      <h1 class="card-title tile_css"><span class="border_line">Welcome to KSR Group</span></h1>
                      <p class="card-category text_size">
                           <b>KSR FinTech Software Solutions</b> was founded by experienced professionals in Core Banking Domain services and Banking Software's.
Incorporated in the year 2023, KSR aspires to be a leading player in the field of Banking domain with key strengths in Implementation, 
Customization, Functional Testing,Support Managed Services, etc. The target is to amplify human potential and create the next opportunity for people,
businesses and communities.<br>
</p>
                  </div>
                 
              </div>
          </div>
            <div class="col-md-4">
                     
          </div>
        
      </div>
       <div class="row topcss">
            <div class="col-md-6">
                 <a class="" href="#"><img class="img_class" src="/assets/img/AboutUs.jpg"/></a>
           </div>
               <div class="col-md-6">
                    <div class="card card-chart">
                  
                  <div class="card-body">
                      <h1 class="card-title tile_css"><span class="border_line">About US</span></h1>
                      <p class="card-category text_size">
Formed in 2023, KSR attempts to grow at the present envionmrnt.We are highly process driven to instil confidence among our customers and 
partners,about quality deliverables and growing consistently. Provides Software development,Support,consultation for banking and IT Outsourcing. <br>
</p>
                  </div>
                 
              </div>
           </div>
      </div>
       <div class="row topcss">
          
               <div class="col-md-6">
                    <div class="card card-chart">
                  
                  <div class="card-body">
                      <h1 class="card-title tile_css"><span class="border_line">Our Vision</span></h1>
                      <p class="card-category text_size">
In the new normal, banks need to create customer-centric business models and provide relevant experiences and offers to meet the customers’ changing needs.
We help our clients achieve those goals and drive customer-first growth. <br>
</p>      
                  </div>
                 
              </div>
           </div>
             <div class="col-md-6">
                  <a class="" href="#"><img class="img_class" src="/assets/img/Vission.png"/></a>
           </div>
      </div>
      
       <div class="row topcss">
            <div class="col-md-6">
                 <a class="" href="#"><img class="img_class" src="/assets/img/Mission.png"/></a>
           </div>
               <div class="col-md-6">
                    <div class="card card-chart">
                  
                  <div class="card-body">
                      <h1 class="card-title tile_css"><span class="border_line">Our Mission</span></h1>
                      <p class="card-category text_size">
Banks today aims to be better retailer - providing best service with optimum price to customers with maximum efficiency. Their system ensures 
that customer engagements are run as fully automated workflows bringing the efficiency of straight-through-retailing into a traditionally back end driven
 banking world.  <br>
</p>
                  </div>
                 
              </div>
           </div>
      </div>
      
     
  </div>
</div>
