

    
    <div class="main-content">
  <div class="container-fluid">
      <div class="row">
               <div class="col-md-12">
              <div class="card card-chart">
                   <h1 class="card-title tile_css"><b>KSR FinTech Software Solutions</b></h1>
                  
                  <div class="card-body">
  <div class="copyright">
            &copy;
            4/82,Jarugu,Maniyadhahalli, <br> Nallampalli, Dharmapuri, <br> Tamilnadu, India. <br> Pin-636807 <br>
            <a href="#" target="_blank"> hr@ksrfintech.com </a>.
        </div> 
                  </div>
                 
              </div>
          </div>
            <div class="col-md-4">
                     
          </div>
        
      </div>
        </div>
    </div>
